# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# Local config
.python-version
uv.lock
pyproject.toml

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Do not push datasets if too large
imdb_movies.csv
